{% block content %}
   <br />
   <div class="row">
      <form method="post" id="myform">{% csrf_token %}
      <div class="col-md-12">
         <div class="row" style="padding: 5px">
            <div class="col-md-12">
               <label for="name">Group Name</label>
               <input id="name" name="name" type="text" class="form-control input-md">
            </div>
            <br />

            <div class="col-md-12">
               <label for="description">Description</label>
               <textarea class="form-control" name="description" id="description" rows="2"></textarea>
            </div>
         </div>
         <br />
         <div class="row">
            <div class="col-md-12">
               <button id="submit" name="add_group" value="{{ add_group.group_id }}" 
                  type="submit" class="btn btn-warning">Submit</button>
               </form>
            </div>
         </div> 
      </div> 
   </div>
{% endblock %} 

