{% block content %}

   {% load templatetags %}

   {% if product.messages != "" %}
      {% load_nav "messages" product as all_tabs %}
   {% endif %}

   {% if product.groups != "" %}
      {% load_nav "groups" product as all_tabs %}
   {% endif %}

   {% load_nav "details" product as all_tabs %}

   {% load_nav "tools" product as all_tabs %}

   <form style="width:0px; height:0px; padding:0px; margin:0px" method="post" id="{{ product.name }}-req">
      <input type="hidden" name="add_req" value="{{ product.group_id }}">
      <input type="hidden" name="req_type" value="product">
   </form>

   <form style="width:0px; height:0px; padding:0px; margin:0px" method="post" id="{{ product.name }}-message">
      <input type="hidden" name="add_req" value="{{ product.group_id }}">
      <input type="hidden" name="req_type" value="message">
   </form>

   <ul class="nav nav-tabs">
      {% for i in all_tabs %}
         {% if i == "messages" %}
            <li><a role="tab" data-toggle="tab" href="#{{ product.name }}-messages">Messages</a></li>
         {% endif %}

         {% if i == "groups" %}
            {% build_nav "groups" product %}
         {% endif %}

         {% if i == "details" %}
            <li class="active">
               <a role="tab" data-toggle="tab" href="#{{ product.name}}-details">Details</a>
            </li>
         {% endif %} 
         {% if i == "tools"  %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools</a>
               <ul class="dropdown-menu">
                  {% if product.expression == ""%}
                     <li><a role="tab" data-toggle="tab" href="#" 
                        onclick="add_req('{{ product.name }}-req');">
                        Add Requirement</a></li>
                  {% endif %}
                  <li><a role="tab" data-toggle="tab" href="#{{ product.name }}-add-group">Add Group</a></li>
                  <li><a role="tab" data-toggle="tab" href="#" 
                     onclick="add_req('{{ product.name }}-message');">
                     Add Message</a></li>
                  <li><a role="tab" data-toggle="tab" href="#{{ product.name }}-configure">Configure</a></li>
                  <li><a role="tab" data-toggle="tab" href="#{{ product.name }}-raw-data">Raw Data</a></li>
               </ul>
            </li>
         {% endif %}
      {% endfor %}
   </ul> 

   <div class="tab-content">
      {% if "messages" in product %}
         {% build_nav "messages" product %}
      {% endif %}

      {% if "groups" in product %}
      {% endif %}

      {% build_nav "details" product %}

      {% build_nav "tools" product %}
   </div>

   <script>
      function add_req(id){
         document.getElementById(id).submit();
      }
   </script>
{% endblock %} 
