{% block group %}
   {% load templatetags %}
   <div class="container">
      <h2>{{ group.name }}</h2>

      <ol class="breadcrumb">
         {% for i in group.path %}
            {% if forloop.first %}
               <li><a href="/compliance">Home</a></li>
            {% else %}
               <li><a href="/showgroup/{{ i.group_id }}">{{ i.name }}</a></li>
            {% endif %}
         {% endfor %}
      </ol>

      {% with product=group template_name="tabs/main.html"%}
         {% include template_name %}
      {% endwith %}
   </div>
{% endblock %}
