{% block content %}

{% for group in product.groups %}
   <div class="row">
      <div class="col-md-12">
         <ol class="breadcrumb">
            <li><a href="showgroup/{{ group.group_id }}">{{ group.name }}</a></li>
            {% for i in product.all_groups %}
               {% if group.name == i.group.name and i.found_groups|length > 0 %}
                  {% for j in i.found_groups %}
                     <li><a href="showgroup/{{ j.group_id }}">{{ j.name }}</a></li>
                  {% endfor %}
               {% endif %} 
            {% endfor %}
         </ol>
      </div>
   </div>
   <br />
{% endfor %}

<div class="modal fade" id="{{ product.name }}-addgroup-modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Group</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <form method="post" id="myform">{% csrf_token %}
               <div class="col-md-12">
                  <div class="row" style="padding: 5px">
                     <div class="col-md-12">
                        <label for="name">Group Name</label>
                        <input id="name" name="name" type="text" class="form-control input-md">
                     </div>
                     <br />

                     <div class="col-md-12">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="2"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submit" name="add_group" value="{{ product.name }}" type="submit" class="btn btn-warning">Submit</button>
            </form>
         </div>
      </div>
   </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{% endblock %}
