{% block content %}
<div class="container">
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>
               <form action="/compliance">
                  <button type="submit" class="btn btn-default" target="compliance">
                  <span class="glyphicon glyphicon-refresh"></span> Refresh</button>
               </form>
            </th>
            <th style="text-align:right; padding-right: 16px">
               <button type="button" class="btn btn-success btn-sm"
                  data-toggle="modal" data-target="#addproduct-modal">Add Product
               </button>
            </th>
         </tr>
      </thead>
   </table>

   {% for product in products %}
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-2" style="padding-top:3px">
                  <h1 class="panel-title">
                     <a data-toggle="collapse" href="#{{ product.name }}">{{ product.name }}</a>
                  </h1>
               </div>
               <form method="post">{% csrf_token %}
                  <div class="col-md-10" align="right">
                     <button type="submit" value="{{ product.name }}" 
                        id="submit" name="delete_product" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div id="{{ product.name }}" class="panel-collapse collapse">
            <div class="panel-body">
               {% include "bz/tabs/main.html" %}
            </div>
         </div>
      </div>
   {% endfor %}

   {% include "bz/products/add_product.html" %}

</div>
{% endblock %}
